.heading{
    font-size: 23px;
    width: 100%;
    margin-top: 0px;
    
    float: top;
    box-shadow: 5px 5px 5px gold;
}
.note{
    font-size: 16px;
}
body{
    background-size: cover;
}
.divspeed{
    float: left;
}
.divspeedimg{
    width: 200px;
    border-radius: 100px;
}
#speed{
    font-size: 23px;
    margin: 15px;
}
.divvol{
    float: right;
}
.divvolimg{
    width: 200px;
    border-radius: 100px;
}
#volume{
    font-size: 23px;
    margin: 15px;
}
.playbutton{
    width: 130px;
    font-size: 25px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 200px;
}